/**
* @Author Le-Roy Jongwe  
* This CSS file is for the desktop version
*/

/*-------------------------------------------------------------------------
=========================Request Quotation Section=========================
--------------------------------------------------------------------------*/
#req-quote-btn
{
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  font-weight: bold;
  border: none;
  transition: 2s;;

}

#req-quote-btn:hover
{
  color: gray;
  background-color: white;
}

#quo-div{
  position: absolute;
  top: 70px;
  right: 100px;
  border: 1px solid black;
  width: 50%;
  background-color: black;
  padding: 10px;
  color:  white;
}

#quo-form
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: ;
}
/*class controls basic attributes*/
.f-c-p
{
  margin-top: 5px;
}

#service_textfield
{
  grid-column: 1/3;
  padding: 10px;
}
/*Add another Type of website button*/
#add-tow
{
  margin-left: 74%;
  margin-bottom: 50px;
  background-color: green;
  border: 1px solid gray;
  color: white;
  border-radius: 10px;
  width: 25%;
  margin-top: 5px;
  grid-column-end: 3;
}

#quot-b-btn{
  grid-column: 1/3;
  margin-top:  50px;
  margin-bottom: 50px;
  font-weight: bold;
  color: white;
  background-color: purple;
  border:  1px solid white;
  padding:  5px 0;
  border-radius: 25px;
}

#service_textfield:hover{
  cursor: pointer;
}

#service_dropdown{
  display: none;
  border: 2px solid brown;
  background-color: white;
  grid-column: 1/3;
  padding: 5px 0px;
  color: gray;
  margin-top: 5px;
  border-radius: 5px;
}

#service_dropdown ul{
  padding-left: 0px;
  line-height: 1.5em;
} 

#service_dropdown li{
  list-style-type: none;
  padding: 5px 10px;
} 

#service_dropdown li:hover {
  background-color: purple;
  cursor: pointer;
  color: white;
  font-weight: bold;
} 

#service-option
{
  grid-column: 1/3;
  margin-top: 20px;
  margin-bottom: 20px;
  border:  1px solid white;
}
/*-------------------------------------------------------------------------
======================== Schedule Meeting Section =========================
--------------------------------------------------------------------------*/
#schedule-meeting-container
{
  display: block;
  position: relative;
  background-color: grey;
  text-align: center;
  padding: 20px 0px;
}

#schedule-meeting-container h2{
  text-align: center;
  color: white;
}

.b-c-d
{
  display: inline-block;
  width: 20%;
  margin-top: 20px;
}

.b-c-d button{
  width: 80%;
  border: 1px solid white;
  margin-left: 10%;
  border-radius: 25px;
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}

.b-c-d button:hover{
  background-color: white;
}

/**----------------------------------------------------------
================ Contact Modal====================
-------------------------------------------------------------*/
#contact-modal{
    display: none;
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
    border: 1px solid black;
    background-color: white;
    border: 1px solid gray;
    height: 500px;
    z-index: 11;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 8px rgba(218,230,237,0.56);
    padding: 5px;
  }

/**--------------------------------------------------------------
================ Schedule Zoom Meeting =========================
 --------------------------------------------------------------*/
#schedule-zoom-container
{
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 60%;
  z-index: 11;
  background-color: white;
  height: 400px;
  left: 20%;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 8px rgba(218,230,237,0.56);
}
/*-----------------------------Schedule Zoom Meeting Header Panel---------------------------------*/
#szc-headerpanel
{
  width: 100%;
  color: white;
  background-color: #36403d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
/*---------------------------Schedule Zoom Meeting Time & Date Fields-----------------------------*/
.szc-date-div
{
  display: inline-block;
  width: 49%;
  margin-top: 50px;
}
#szc-date
{
  width: 80%;
  text-align: center;
  padding: 5px 0;
}
#szc-time
{
  width: 80%;
  text-align: center;
  padding: 5px 0;
}
/*--------------------------------------Schedule Zoom Close Meeting Button----------------------------------*/
#szc-headerpanel-close
{
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  z-index: 12;
  color: white;
  cursor: pointer;
  float: right;
  margin-right: 16px;
}

#szc-headerpanel-close:hover
{
  color: red;
}

/*------------------------------------------Schedulue Zoom Footer--------------------------------------*/
#szc-button-div
{
  position: absolute;
  width: 100%;
  background-color: #36403d;
  bottom: 0;
  padding: 10px 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#szc-back-btn:hover
{
  color: white;
}

#szc-submit-btn
{
  float: right;
  margin-right: 20px;
  border-radius: 25px;
  width: 100px;
  padding: 5px 0;
  font-weight: bold;
  color: white;
  background-color: #18d26e;
  border: 1px solid #18d26e;
  text-transform: uppercase;
}

#szc-submit-btn:hover
{
  border: 1px solid white;
  background-color:#123649;
}
/*-------------------------------------Services Select-------------------------------------------------*/
#services-select
{
  display: none;
  position: absolute;
  top: 18%;
  width: 90%;
  left: 5%;
  background-color: white;
  border: none;
  height: 500px;
  z-index: 12;
  padding: 5px; 
}

/*---------------------------------Add another service main div-------------------------------------------*/
#as-main{
    position: relative;
    height: 400px;
    width: 100%;
  }

  #as-main ul{
    position: absolute;
    top: 5%;
    list-style-type: none;
    line-height: 1.5em;
    width: 100%;
    height: 300px;
    overflow: auto;
  }

/*-------------------------------------------------------------------------------
========================= Schedule A Call ====================================
--------------------------------------------------------------------------------*/
#schedule-call-container
{
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 60%;
  z-index: 11;
  background-color: white;
  height: 450px;
  left: 20%;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 8px rgba(218,230,237,0.56);
}

#sc-headerpanel
{
  width: 100%;
  color: white;
  background-color: #36403d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.modal-header-panel h2{
  font-size: 20px;
  padding: 8px 0;
  padding-left: 16px;
  color: white;
  font-weight: bold;
}
#call-word
{
  color: green;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid green;
}
/*----------------Close button for schedule a call pop up---------------------*/
#sc-headerpanel-close
{
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  z-index: 12;
  color: white;
  cursor: pointer;
  float: right;
  margin-right: 16px;
}

#sc-headerpanel-close:hover
{
  color: red;
}
/*--------------------schedule a Call meeting time & date fields-------------------------*/
.sc-date-div
{
  display: inline-block;
  width: 42%;
  margin-top: 50px;
}

.time-div
{
  margin-left: 5%;
}

.date-div
{
  margin-left: 5%;
}
.sc-date-div input[type=date], input[type=time]
{
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.sc-field-div
{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px; 
}

.sc-field-div input[type=text],input[type=email]
{
  width: 100%;
  padding: 5px 5px;
  border-radius: 25px;
  border: 1px solid gray;
}

#sc-name-div
{
  margin-top: 20px;

}

/*---------------------------footer schedule a call-----------------------------------*/
#sc-button-div
{
  position: absolute;
  width: 100%;
  background-color: #36403d;
  bottom: 0;
  padding: 10px 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#sc-submit-btn
{
  float: right;
  margin-right: 20px;
  border-radius: 25px;
  width: 100px;
  padding: 5px 0;
  font-weight: bold;
  color: white;
  background-color: #18d26e;
  border: 1px solid #18d26e;
  text-transform: uppercase;
}

#sc-submit-btn:hover
{
  border: 1px solid white;
  background-color:#123649;

}

/*-------------------------------------------------------------------------------------
========================= Meeting Form Status Popup Reponse ===========================
--------------------------------------------------------------------------------------*/
#rm-container
{
  display: none;
  position: absolute;
  width: 80%;
  z-index: 20;
  left: 10%;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*-----------------------------------Header-----------------------------------*/
#rm-header
{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#rm-header.error
{
  background-color: red;
  color: white;
}

#rm-header.success
{
  background-color: green;
  color: white;
}
/*------------------------------------Body-----------------------------------*/
#rm-body
{
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
}

#rm-body.error
{
  background-color: white;
  text-align:center;
  padding: 30px;
  color: red;
}

#rm-body.success
{
  background-color: white;
  text-align:center;
  padding: 30px;
  color: green;
}
/*------------------------------------Footer-----------------------------------*/
#rm-footer
{
  width: 100%;
  background-color: purple;
  padding: 10px;
}

#rm-f-btn
{
  width: 20%;
  border: 1px solid white;
  background-color: blue;
  color: white;
  padding: 5px 0;
  border-radius: 25px;
  font-weight: bold;
}

#rm-f-btn:hover
{
  color: gray;
}