/*
*@author Le-Roy Shingai Jongwe
/*
/*------------------------------------------------------------------------------------------------------
============================================Learn Modal================================================
-------------------------------------------------------------------------------------------------------*/
#learn-more-modal
{
  display: none;
  position: absolute;
  top: 10%;
  width: 90%;
  left: 5%;
  background-color: white;
  border: 1px solid gray;
  height: 22%;
  z-index: 11;
  border-radius: 25px;
  box-shadow: 0px 1px 4px 2px rgba(0239, 230, 230.78.73);
  padding: 5px;
}

/*-------------------------------close button for learn more modal------------------------------------------*/
#close-lm-modal
{
  display: none;
  position: absolute;
  left: 88.5%;
  top: 9.5%;
  border: 1px solid red;
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  z-index: 12;
  background-color: white;
  color: gray;
  cursor: pointer;
}

#learn-more-modal h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 0.2em;
  }

/*-----------------------------------------------------------------------------------------
======================================Contact Modal========================================
------------------------------------------------------------------------------------------*/
#contact-modal{
    display: none;
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
    border: 1px solid black;
    background-color: white;
    border: 1px solid gray;
    height: 500px;
    z-index: 11;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 8px rgba(218,230,237,0.56);
    padding: 5px;
  }
/*---------------------------------------------------------------------------------------
==========================Schedule Meeting Section=======================================
----------------------------------------------------------------------------------------*/
#schedule-meeting-container
{
  display: block;
  position: relative;
  background-color: grey;
  text-align: center;
  padding: 20px 0px;
  font-size: 12px;
}

#schedule-meeting-container h2{
  text-align: center;
  color: white;
}

.b-c-d
{
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}

.b-c-d button{
  width: 80%;
  border: 1px solid white;
  margin-left: 10%;
  border-radius: 25px;
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}

.b-c-d button:hover{
  background-color: white;
}
/*----------------------------------------------------------------------------------------
================================Schedule Zoom Meeting=====================================
-----------------------------------------------------------------------------------------*/
#schedule-zoom-container
{
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 11;
  background-color: white;
  height: 400px;
  border: 1px solid gray;
  border-radius: 25px;
  font-size: 12px;
  box-shadow: 0px 0px 0px 8px rgba(218,230,237,0.56);
}
/*------------------------Schedule Zoom Meeting Header Panel-------------------------------*/
#szc-headerpanel
{
  width: 100%;
  color: white;
  background-color: #36403d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*--------------------------Schedule Zoom Close Meeting Button---------------------------*/
#szc-headerpanel-close
{
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  z-index: 12;
  color: red;
  cursor: pointer;
  float: right;
  margin-right: 16px;
}

.szc-field-div input[type=text],input[type=email]
{
  display: block;
  width: 100%;
  padding: 5px 5px;
  border-radius: 25px;
  margin-top: 10px;
  border: 1px solid gray;
}
/*---------------------------schedule zoom meeting time & date fields----------------------------------------*/
.szc-date-div
{
  display: block;
  width: 100%;
  margin-top: 10px;
  height: fit-content;
}

.szc-date-div input[type=date], input[type=time]
{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
/*------------------------------------------------------------------------------------
============================Schedule A Call=======================================
-------------------------------------------------------------------------------------*/
#schedule-call-container
{
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 11;
  background-color: white;
  height: 400px;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 25px;
}

/*--------------------------------header panel----------------------------------------*/
#sc-headerpanel
{
  width: 100%;
  color: white;
  background-color: #36403d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.modal-header-panel h2{
  font-size: 20px;
  padding: 8px 0;
  padding-left: 5px;
  font-weight: bold;
}

/*-----------------------Close button for schedule a call pop up-----------------------*/
#sc-headerpanel-close
{
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  z-index: 12;
  color: red;
  cursor: pointer;
  float: right;
  margin-right: 16px;
}
/*---------------------------schedule A Call div fields--------------------------*/
.sc-field-div
{
  display: block;
  width: 90%;
  margin: 0 5%;
  margin-top: 10px;
  height: fit-content;
}
.sc-field-div input[type=text],input[type=email]
{
  display: block;
  width: 100%;
  padding: 5px 5px;
  border-radius: 25px;
  margin-top: 10px;
  border: 1px solid gray;
}
/*---------------------------schedule A Call time & date fields--------------------------*/
.sc-date-div
{
  display: block;
  width: 90%;
  margin: 0 5%;
  margin-top: 10px;
  height: fit-content;
}

.sc-date-div input[type=date], input[type=time]
{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

#sc-button-div
{
  position: absolute;
  width: 100%;
  background-color: #0d2735;
  bottom: 0;
  padding: 10px 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#sc-back-btn
{
  box-sizing: border-box;
  display: block;
  border-radius: 25px;
  width: 90%;
  padding: 5px 0;
  font-weight: bold;
  color: gray;
  margin-left: 5%;
  border: 1px solid white;
  margin-bottom: 10px;
}

#sc-back-btn:hover
{
  color: white;
}

#sc-submit-btn
{
  box-sizing: border-box;
  margin-left: 5%;
  border-radius: 25px;
  width: 90%;
  padding: 5px 0;
  font-weight: bold;
  color: white;
  background-color: #18d26e;
  border: 1px solid #18d26e;
  text-transform: uppercase;
}

#sc-submit-btn:hover
{
  border: 1px solid white;
  background-color:#123649;
}
/*-------------------------------------------------------------------------------------
========================= Meeting Form Status Popup Reponse ===========================
--------------------------------------------------------------------------------------*/
#rm-container
{
  display: none;
  position: absolute;
  width: 80%;
  z-index: 20;
  left: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*-----------------------------------Header-----------------------------------*/
#rm-header
{
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#rm-header.error
{
  background-color: red;
  color: white;
}

#rm-header.success
{
  background-color: green;
  color: white;
}
/*------------------------------------Body-----------------------------------*/
#rm-body
{
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
}

#rm-body.error
{
  background-color: white;
  text-align:center;
  padding: 30px;
  color: red;
}

#rm-body.success
{
  background-color: white;
  text-align:center;
  padding: 30px;
  color: green;
}
/*------------------------------------Footer-----------------------------------*/
#rm-footer
{
  width: 100%;
  background-color: purple;
  padding: 10px;
}

#rm-f-btn
{
  width: 20%;
  border: 1px solid white;
  background-color: blue;
  color: white;
  padding: 5px 0;
  border-radius: 25px;
  font-weight: bold;
}

#rm-f-btn:hover
{
  color: gray;
}